## **PYTHON ALIŞTIRMALAR**

### Görev 1: Verilen değerlerin veri yapılarını inceleyiniz.

In [ ]:
x = 8
type(x)

int

In [ ]:
y = 3.2
type(y)

float

In [ ]:
z = 8j + 18
type(z)

complex

In [ ]:
a = "Hello World"
type(a)

str

In [ ]:
b = True
type(b)

bool

In [ ]:
c = 23 < 22
type(c)

bool

In [ ]:
l = [1, 2, 3, 4,"String",3.2, False]
type(l)
# Sıralıdır
# Kapsayıcıdır
# Değiştirilebilir

list

In [ ]:
d = {"Name": "Jake",
     "Age": [27,56],
     "Adress": "Downtown"}
type(d)
# Değiştirilebilir
# Kapsayıcı
# Sırasız
# Key değerleri farklı olacak

dict

In [ ]:
t = ("Machine Learning", "Data Science")
type(t)
# Değiştirilemez
# Kapsayıcı
# Sıralı

tuple

In [ ]:
s = {"Python", "Machine Learning", "Data Science","Python"}
type(s)
# Değiştirilebilir
# Sırasız + Eşsiz
# Kapsayıcı

set

### GÖREV 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.

In [ ]:
text = "The goal is to turn data into information, and information into insight."
text.upper().replace(","," ").replace("."," ").split()

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

### GÖREV 3: Verilen liste için aşağıdaki görevleri yapınız.

In [ ]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

In [ ]:
# Adım 1: Verilen listenin eleman sayısına bakın.
len(lst)

11

In [ ]:
# Adım 2: Sıfırıncı ve onuncu index'teki elemanları çağırın.
lst[0], lst[10]

('D', 'E')

In [ ]:
# Adım 3: Verilen liste üzerinden ["D","A","T","A"] listesi oluşturun.
lst[0:4]

['D', 'A', 'T', 'A']

In [ ]:
# Adım 4: Sekizinci index'teki elemanı silin.
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [ ]:
# Adım 5: Yeni bir eleman ekleyin.
lst.append(101)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 101]

In [ ]:
# Adım 6: Sekizinci index'e  "N" elemanını tekrar ekleyin.
lst.insert(8,"N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 101]

### GÖREV 4: Verilen sözlük yapısına aşağıdaki adımları uygulayınız.

In [ ]:
dict = {'Christian': ["America",18],
        'Daisy':["England",12],
        'Antonio':["Spain",22],
        'Dante':["Italy",25]}

In [ ]:
# Adım 1: Key değerlerine erişiniz.
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [ ]:
# Adım 2: Value'lara erişiniz.
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [ ]:
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict.update({"Daisy":["England",13]})
dict

#dict["Daisy"][1] = 13
#dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [ ]:
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.

In [ ]:
dict.update({"Ahmet":["Turkey",24]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [ ]:
# Adım 5: Antonio'yu dictionary'den siliniz.
dict.pop("Antonio")
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

### GÖREV 5: Arguman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları ayrı listelere atıyan ve bu listeleri return eden fonskiyon yazınız.

In [12]:
l = [2,13,18,93,22]

In [16]:
even_list = []
odd_list = []
def func(list):
  for i in list:
    if i % 2 == 0:
      even_list.append(i)
    else:
      odd_list.append(i)

  return even_list, odd_list

even_list,odd_list = func(l)

print(even_list)
print(odd_list)

[2, 18, 22]
[13, 93]

### GÖREV 6: Aşağıda verilen listede mühendislik ve tıp fakülterinde dereceye giren öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin başarı sırasını temsil ederken son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. Enumarate kullanarak öğrenci derecelerini fakülte özelinde yazdırınız.

In [1]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [4]:
for i,x in enumerate(ogrenciler,1):
  if i<4:
    print("Mühendislik Fakültesi",i,". öğrenci:",x)

  else:
    print("Tıp Fakültesi",i,". öğrenci:",x)

Mühendislik Fakültesi 1 . öğrenci: Ali
Mühendislik Fakültesi 2 . öğrenci: Veli
Mühendislik Fakültesi 3 . öğrenci: Ayşe
Tıp Fakültesi 4 . öğrenci: Talat
Tıp Fakültesi 5 . öğrenci: Zeynep
Tıp Fakültesi 6 . öğrenci: Ece

### GÖREV 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırası ile bir dersin kodu, kredisi ve kontenjan bilgileri yer almaktadır. Zip kullanarak ders bilgilerini bastırınız.

In [5]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [7]:
for ders_kodu, kredi, kontenjan in zip(ders_kodu, kredi, kontenjan):
  print(f"Kredisi {kredi} olan {ders_kodu} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

### GÖREV 8: Aşağıda 2 adet set verilmiştir. Sizden istenilen eğer 1. küme 2. kümeyi kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [8]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

In [10]:
def kume(set1,set2):
    if set1.issuperset(set2):
        print(set1.intersection(set2))
    else:
        print(set2.difference(set1))

kume(kume1,kume2)

{'function', 'lambda', 'qcut', 'miuul'}